// ZwoWebPro-Extlight W01 Regular, used as normal/normal
// @font-face {
//   font-family: "ZwoWeb";
//   src: url("../fonts/adb04ad9-5c6c-4550-9d61-f0cc90375ef8.eot?#iefix");
//   src: url("../fonts/adb04ad9-5c6c-4550-9d61-f0cc90375ef8.eot?#iefix") format("eot"),
//   url("../fonts/dc4f9e52-147b-482c-a5cc-ef1cadaca4d8.woff2") format("woff2"),
//   url("../fonts/874cfd5f-50eb-4fa4-a132-b3070ae6a479.woff") format("woff"),
//   url("../fonts/54b14d2b-da10-436c-8106-716c7e1c39e8.ttf") format("truetype");
//   font-style: normal;
//   font-weight: 400;
// }
@font-face {
	font-family:"TTProstoSansCondensedDEMO-Bold";
	src:url("../fonts/TT-Prosto-Sans-Condensed-Bold-DEMO.eot?") format("eot"),
	url("../fonts/TT-Prosto-Sans-Condensed-Bold-DEMO.woff") format("woff"),
	url("../fonts/TT-Prosto-Sans-Condensed-Bold-DEMO.ttf") format("truetype"),
	url("../fonts/TT-Prosto-Sans-Condensed-Bold-DEMO.svg#TTProstoSansCondensedDEMO-Bold") format("svg");
	font-weight:normal;
	font-style:normal;
}