@font-face {
	font-family:"RubikBold";
	src:url("../fonts/Rubik-Bold.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"RubikLight";
	src:url("../fonts/Rubik-Light.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"RubikLightItalic";
	src:url("../fonts/Rubik-LightItalic.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}

@font-face {
	font-family:"NotoSansBoldItalic";
	src:url("../fonts/NotoSansBoldItalic.eot?") format("eot"),
	url("../fonts/NotoSansBoldItalic.woff") format("woff"),
	url("../fonts/NotoSansBoldItalic.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"NotoSansItalic";
	src:url("../fonts/NotoSansItalic.eot?") format("eot"),
	url("../fonts/NotoSansItalic.woff") format("woff"),
	url("../fonts/NotoSansItalic.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family:"NotoSansRegular";
	src:url("../fonts/NotoSansRegular.eot?") format("eot"),
	url("../fonts/NotoSansRegular.woff") format("woff"),
	url("../fonts/NotoSansRegular.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
