@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "common/fonts";
@import "layouts/header";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/gallery";
* {
	font-family: 'TTProstoSansCondensedDEMO-Bold';
}
a,
a:visited,
a:active ,
a:hover {
	text-decoration: none;
	color: black ;
}

@media only screen and (max-width: 970px) {
	header {
		width:640px;
		height: 22px;
	}
	.pos-abs {
		width: 420px;
		left: calc(50% - 420px/2);
	}
}
