body {
	max-width: 1980px;
	margin:0 auto;
}
section {
	overflow: hidden;
	position: relative;
	width: 100%;
	.fbc1 {
		transform:skewY(-7deg);
		width: 100%;
		.ffc1 {
			transform:skewY(7deg);
			width: 100%;
		}
	}
	.blok1,.blok2 {
		background: #ebebeb;
		font-size: 30px;
		height: 1221px;
		text-align: center;
	}
	.blok1 {
		margin-top:390px;
	}
	.blok2 {
		background: #e2e2e2;
	}
	.fbc2{
		background: #e2e2e2;
		font-size: 14px;
		height:1712px;
		transform:perspective(1000px) rotateY(-7.5deg) translate(-840px,-165px);
		width:213%;
		.ffc2 {
			height:1500px;
			transform:perspective(1000px) rotateY(7.5deg) translate(440px,165px);
			width: 100%;
		}
	}
	.blok3 {
		border: 1px solid black;
		height: 1000px;
		width :100%;
		z-index: 0
	}
	.wrap-bottom {
		border:1px solid blue;
		bottom: 0;
		height: 600px;
		overflow: hidden;
		position: absolute;
		width:100%;
		.wrap-wrap-map {
			position: relative;
			.wrap-map {
				overflow: hidden;
				position: absolute;
				top:0;
				transform:skewY(-7deg) translate(0px,106px);
				width: 100%;
				z-index: 4;
				border:1px solid red;
					#map {
					transform:skewY(7deg) translate(0px,-106px);
					width: 100%;
					z-index: 2;
					border: 1px solid black;
				}
			}
		}
	}
}
.wrap-all {
	position: relative;
	width:100%;
	margin: 0 auto;
	text-align: center;
}
.pos-abs {
	//background: #999;
	width: 970px;
	left: calc(50% - 970px/2);
	position: absolute;
	height:3000px;
	z-index: 10;
	overflow: hidden;
	.wrap-swg {
		position: relative;
		width:100%;
		svg {
			width:100%;
			transform: translate(0px,88px);
			height: 800px;
		}
		.wrap-gray-blok {
			color:white;
			position: absolute;
			left:65px;
			top:350px;
			text-align: left;
			.wrap-header {
				font-family: 'TTProstoSansCondensedDEMO-Bold';
				margin-left: 30px;
				line-height: 50px;
				text-transform: uppercase;
				h2 {
					font-size: 14px;
				}
				span.header-span {
					font-size: 48px;
					span {
						color: red;
					}
				}
			}
			.col-md-6 {
				margin-top:90px;
				font-size: 16px;
				font-family: NotoSansItalic;
				text-align: left;
				span {
					font-family: NotoSansBoldItalic;
					font-size: 16px;
				}
			}
			.footnote {
				margin:75px 32px;
				font-size: 12px;
				font-family: NotoSansItalic;
				sup {
					font-weight: bold;
					font-size: 12px;
				}
			}
		}
	}
	.wrap-width-change {
		.wrap-header {

		}
	}
}
