section {
	overflow: hidden;
	position: relative;
	width: 100%;
	.fbc1 {
		transform:skewY(-7deg);
		width: 100%;
		.ffc1 {
			transform:skewY(7deg);
			width: 100%;
		}
	}
}

.blok1,.blok2 {
	background: #ebebeb;
	font-size: 30px;
	height: 1140px;
	text-align: center;
}
.blok1 {
	margin-top:390px;
}
.blok2 {
	background: #e2e2e2;
}
.fbc2{
	background: #e2e2e2;
	font-size: 14px;
	height:1712px;
	transform:perspective(1000px) rotateY(-7.5deg) translate(-328px,-81px);
	width:213%;
	.ffc2 {
		height:1500px;
		transform:perspective(1000px) rotateY(7.5deg) translate(220px,81px);
		width: 100%;
	}
}
.blok3 {
	//border: 1px solid black;
	height: 1000px;
	width :100%;
	z-index: 0
}
.wrap-bottom {
	//border:1px solid blue;
	bottom: 0;
	height: 600px;
	overflow: hidden;
	position: absolute;
	width:100%;
	.wrap-wrap-map {
		position: relative;
		.wrap-map {
			overflow: hidden;
			position: absolute;
			top:0;
			transform:skewY(-7deg) translate(0px,71px);
			width: 100%;
			z-index: 4;
	//		border:1px solid red;
				#map {
				transform:skewY(7deg) translate(0px,-71px);
				width: 100%;
				z-index: 2;
	//			border: 1px solid black;
			}
		}
	}
}
